/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/*--------------------------------------------------------------
# Preloader/ANIMATION intro
--------------------------------------------------------------*/
#preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 65vh;
  z-index: 99999;
}

#preloader:before,
#preloader:after {
  content: "";
  background-color: #000000;
  position: absolute;
  inset: 0;
  width: 50%;
  height: 250%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

#preloader:after {
  left: auto;
  right: 0;
}

#preloader .line {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 1px;
  height: 280px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

#preloader .line:before {
  content: "";
  position: absolute;
  background-color: #f3633f;
  left: 0;
  top: 50%;
  width: 2px;
  height: 0%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: lineincrease 1000ms ease-in-out 0s forwards;
          animation: lineincrease 1000ms ease-in-out 0s forwards;
}

#preloader .line:after {
  content: "";
  position: absolute;
  background-color: color-mix(in srgb, var(--default-color), rgba(0, 0, 0, 0) 95%);
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: linemove 1200ms linear 0s infinite;
          animation: linemove 1200ms linear 0s infinite;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

#preloader.loaded .line {
  opacity: 0;
  height: 100% !important;
}

#preloader.loaded .line:after {
  opacity: 0;
}

#preloader.loaded:before,
#preloader.loaded:after {
  -webkit-animation: preloaderfinish 300ms ease-in-out 500ms forwards;
          animation: preloaderfinish 300ms ease-in-out 500ms forwards;
}

@-webkit-keyframes lineincrease {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes lineincrease {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@-webkit-keyframes linemove {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }

  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes linemove {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }

  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes preloaderfinish {
  0% {
    width: 5 0%;
  }

  100% {
    width: 0%;
  }
}

@keyframes preloaderfinish {
  0% {
    width: 5 0%;
  }

  100% {
    width: 0%;
  }
}

/*--------------------------------------------------------------
# AVATAR IMG
--------------------------------------------------------------*/

.box {
  margin-top: 40px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box div {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#272727));
  background: -o-linear-gradient(bottom, #000000, #272727);
  background: linear-gradient(0deg, #000000, #272727);
}

.box div img{
  border: 4px solid rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 50%;
}

.box div:before, .box div:after {
	content: '';
    	border-radius: 50%;
	position: absolute;
	left: -2px;
	top: -2px;
	background: -o-linear-gradient(45deg, #f3633f, #ed1d24, #f3633f, #ed1d24, #f3633f, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	background: linear-gradient(45deg, #f3633f, #ed1d24, #f3633f, #ed1d24, #f3633f, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	/*background: linear-gradient(180deg, #f3633f, #f3633f, #f3633f,#f3633f, #f3633f, #000c24,
		#000c24, #000c24,#000c24, #f3633f);  180 degree setting stil image looks kinda dope-*/
	background-size: 200%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	-webkit-animation: steam 25s linear infinite;
	        animation: steam 25s linear infinite;
}

@-webkit-keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.box div:after {
	-webkit-filter: blur(30px);
	        filter: blur(30px);
}

/*--------------------------------------------------------------
# NEON/LUMO NAME (DOBRI TODOROV POPOV)
--------------------------------------------------------------*/

@font-face {
  font-family: "Liberty";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf"); }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-size: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }

  body .text {
    font-family: 'Liberty';
    font-weight: 100;
    font-size: 4.5rem;
    letter-spacing: -0.27em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row; }

    body .text .letter {
      margin-top: 0px;
      color: yellow;
      text-shadow: 0 0 1.8rem #ed1d24;
      display: inline-block; }

      body .text .letter.letter-2 {
        -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            -ms-transform: translate(-0.2rem, 1rem) rotate(10deg);
                transform: translate(-0.2rem, 1rem) rotate(10deg);
        -webkit-animation: flicker 2s ease-in-out infinite alternate;
                animation: flicker 2s ease-in-out infinite alternate; }


@-webkit-keyframes flicker {
  0% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  5% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  5.5% {
    opacity: 0;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  6% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  6.5% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  7% {
    opacity: 0;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  8% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  50% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(13deg);
            transform: translate(-0.2rem, 1rem) rotate(13deg); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); } }


@keyframes flicker {
  0% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  5% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  5.5% {
    opacity: 0;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  6% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  6.5% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  7% {
    opacity: 0;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  8% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); }
  50% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(13deg);
            transform: translate(-0.2rem, 1rem) rotate(13deg); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-0.2rem, 1rem) rotate(10deg);
            transform: translate(-0.2rem, 1rem) rotate(10deg); } }


 /*--------------------------------------------------------------
# hero image (BACKGROUND)
--------------------------------------------------------------*/

.hero-image {
  zoom: 100%;
  background-image: url("imgs/background_grey.png");
  opacity: 1;
  background-color: #fffffff;
  height: relative;
  margin-top: 0px;
  background-position: center;
  background-size: cover;

}

.hero-text {
  text-align: center;
  position: relative;
  margin: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  left: 0px;
  color: white;
}

/*--------------------------------------------------------------
# RESUME/CV BUTTON
--------------------------------------------------------------*/
.resume_button {
  margin-bottom: 30px;
  width: 200px;
  display: inline-block;
  padding: 10px 5px;
  color: #f3633f;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-top: 1.8px solid #f3633f;
  border-bottom: 1.8px solid #f3633f;
  border-radius: 3px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: bold;
  background: -o-linear-gradient(45deg, rgba(0, 0, 0, 0), #000000,#000000,#000000, rgba(0, 0, 0, 0));
  background: linear-gradient(45deg, rgba(0, 0, 0, 0), #000000,#000000,#000000, rgba(0, 0, 0, 0));
}

.resume_button:hover {
  background: #f3633f;
  color: #050801;
  -webkit-box-shadow: #ed1d24 0 0 35px 4px;
          box-shadow: #ed1d24 0 0 35px 4px;
}

/*--------------------------------------------------------------
# BUTTONS icons GIT/INSTA/LINKEDIn
--------------------------------------------------------------*/

.space-between_buttons {
  margin-left: 1.5px;
  margin-right: 1.5px;
  padding-right: 17px !important;
  padding-left: 17px !important;
  color: #ffffff;
}

.space-between_buttons:hover {
  background-color: #000000; /* background black */
  color: #f3633f;
  border: 0.5px solid #f3633f;
}

 /*--------------------------------------------------------------
# PROJECTS CONTAINER
--------------------------------------------------------------*/
.container {
    width: 100%;
    height:  100%;
    padding-top: 30px;
    padding-bottom: 20px;
    display:  -webkit-box;
    display:  -ms-flexbox;
    display:  flex;
    -webkit-box-align:  center;
        -ms-flex-align:  center;
            align-items:  center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.card {
    width:  200px;
    height: 280px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(#212529), color-stop(#212529), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #212529, #212529, rgba(0, 0, 0, 0));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), #212529, #212529, rgba(0, 0, 0, 0));
    border-radius: 3px;
    border-top: 1.5px solid #f3633f;
    border-bottom: 1.5px solid #f3633f;
}

h3 {
 font-family: "Roboto", sans-serif;
 font-weight: 700;
 font-style: normal;
 margin-bottom: 20px;
 font-size: 28.5px;
 font-style: bold;
}

.h4 {
    color: #f3633f;
    text-transform: uppercase;
    padding-top: 14px;
    font-size: 18px;
    letter-spacing: 0.2em;
}

.list_of_projects {
    padding-top: 20px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 8px; /* Remove margins */
}

.list_of_projects a {
    color: yellow ;
    text-shadow: 0 0 1.5rem #ed1d24;
    text-decoration: none;
}

.list_of_projects a:hover {
    color: #f3633f;
    text-decoration: none;
}

 /*--------------------------------------------------------------
# CONTACT SECTION & FORM
--------------------------------------------------------------*/

input[type=text], select, textarea {
  color: white;
  text-align: center;
  width: 200px;
  padding: 10px;
  margin: 0px;

  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: rgba(0, 0, 0, 0);
  border-top: 0px solid #010C23;
  border-right:  0px solid #010C23;
  border-left:  0px solid #010C23;
  border-bottom: 1.8px solid #f3633f;
  border-radius: 0px;
  resize: vertical;
}

/*- changes color of placeholder text -*/
textarea::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}
textarea::-moz-placeholder {
  color: white;
  opacity: 1;
}
textarea:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
textarea::-ms-input-placeholder {
  color: white;
  opacity: 1;
}
textarea::placeholder {
  color: white;
  opacity: 1;
}
input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}
input::-moz-placeholder {
  color: white;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
input::-ms-input-placeholder {
  color: white;
  opacity: 1;
}
input::placeholder {
  color: white;
  opacity: 1;
}

/*- removes the highlights around the text box when selected -*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*- removes chromes auto complete text box when selected & changes it -*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-right:  0px solid rgba(0, 0, 0, 0);
  border-left:  0px solid rgba(0, 0, 0, 0);
  border-bottom: 1.8px solid #f3633f;
  -webkit-text-font-size: 10px;
  -webkit-text-font-family: "Roboto", sans-serif;
  -webkit-text-font-weight: 900;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

button[type=submit] {
  margin-top: 20px;
  margin-bottom: 40px;
  width:  125px;
  height: 27px;
  background-color: rgba(0, 0, 0, 0);
  color: orange;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size:  10px;
  border: 1.8px solid #f3633f;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: #ed1d24 0 0 25px 1px;
          box-shadow: #ed1d24 0 0 25px 1px;
}

button[type=submit]:hover {
  background-color: #f3633f;
  color:  rgba(0, 0, 0);
}

.container2 {
  text-align: center;
  border-radius: 5px;
  padding: 0px;
  -webkit-box-align:  center;
      -ms-flex-align:  center;
          align-items:  center;
}

.mail_sent_success {
    font-family: "Roboto", sans-serif;
    font-weight: 650;
    font-style: normal;
    font-size: 9px;
    color: green;
}

.mail_sent_error{
    font-family: "Roboto", sans-serif;
    font-weight: 650;
    font-style: normal;
    font-size: 9px;
    color: #ed1d24;
}

.col-75 {
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
